@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");

html, body {
   max-width: 100%;
   overflow-x: hidden;
}

*{
   font-family: "Montserrat", sent-serif;
}
.logo,
li,
a,
button {
   font-weight: 500;
   font-size: 16px;
   color: #edf0f1;
   text-decoration: none;
}


.slika {
   height: 80vh;
   background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
      url("slike/dolazakhrvata.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
}

.body1 {
   height: 60vh;
   background-color:#1d1e22;
   color: #d4d4dc;
}

.logo{
   margin-left: 100px;
   font-family: "Montserrat", sent-serif;
}

.logo:hover{
   color:#0088a9;
   transition: all 0.4s ease;
}

.body1{
   padding:2%;
}

.Prvi-element{
   text-align: left;
   font-family: "Montserrat", sent-serif;
   font-weight: 700;
   font-size: 60px;
   margin-top:35%;
   opacity: 0.6;
   color: #d4d4dc;
}
.de{
   font-weight:600;
   margin-top: 20%;
   background-color: #393f4d;
   color: #ffffff;
   border-radius: 28px;
   opacity: 0.6;
}

.detext{
   text-align:start;
   opacity: 1;
   padding:15px;
}
.te{
   margin-top:15%;
   text-align: center;
}

.te a{
   margin-left: 5%
}

.navbar .navbar-brand:hover{
   color:gray !important;
}

.offcanvas-body .nav-item a:hover{
   color:gray !important;
}

.navbar .navbar-brand{
   margin-left:15%;
   font-size:24px;
   font-weight:800;
}
.navbar .navbar-toggler{
   margin-right: 15%;
}

.navbar{
   background-color:#1d1e22 !important;
}

.navbar .navbar-brand{
   color: #d4d4dc !important;
}

.navbar .navbar-toggler{
   background-color: #d4d4dc !important;
}

.e4{
   margin-right: 5%;
}
.e6{
   margin-left: 5%;
}

.body1 .row .col{
   border-radius: 20px;
   background-color:#393f4d;
   color: #d4d4dc;
   margin: 5%;
   opacity: 0.7;
}

.Naslov1{
   text-align:center;
   font-weight: 800;
   opacity: 0.8;
}

.offcanvas-header .offcanvas-title{
   font-weight:800;
}

.navbar-nav .nav-item{
   font-weight:700;
}


.body2{
   height:90vh;
   background-color: #393f4d;
}
.body2 .naslov2{
   color:#feda6a;
   font-weight:800;
   text-align:center;
   padding-top:10vh;
}

.dn{
   margin-top: 5vh;
}

.pn{
   margin-top: 5vh;
}

 .card .card-title{
   font-size:24px;
   font-weight:800 !important;
   color: #393f4d;
}
.card{
   background-color:#d4d4dc !important;
}

.card-text{
   color: #393f4d !important;
   font-weight:700 !important;
   
}

.element4{
   height:30vh;
   font-weight:700;
}

.element5{
   font-weight:700;
}

.body2 .card .btn-primary{
   background-color: #393f4d !important;
   border-radius: 15px !important;
}

.body2 .card .btn-primary:hover{

   background-color: #feda6a !important;
   color: #393f4d !important;

}

#btn-back-to-top {
   position: fixed;
   bottom: 20px;
   right: 20px;
   display: none;
   background-color: #feda6a !important;
   color: #393f4d !important;
   }