@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");

/* Global Settings */
* {
  font-family: "Montserrat", sent-serif;
  font-weight: 600;
}

html,
body {
  background-color: #1d1e22;
  opacity: 0.9;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/* Navbar */

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
}
.kartica {
  color: #d6d6d6 !important;
}
.bg-light {
  background-color: transparent !important;
}

.navbar-nav a {
  font-size: 18px;
}
.navbar-nav a:hover {
  color: #feda6a !important;
}
.navbar-light .offcanvas-title {
  color: #d6d6d6;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
.navbar-light .navbar-brand {
  color: #d6d6d6;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: #d6d6d6;
}
.navbar-light .navbar-nav .nav-link {
  color: #d6d6d6;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #d6d6d6;
}
.w-100 {
  height: 100vh;
}
.navbar-toggler {
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
  background: #fff;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.cards-wrapper {
  display: flex;
  justify-content: center;
}

.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 24px;
  padding: 2px;
  height: 300px;
}

.carousel-inner {
  padding: 1em;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 1%;
  transform: translateY(-50%);
}

/* Body2 */

.body2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url("slike/DOLAZAKHRVATAMAIN.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  color: #d6d6d6;
  height: 100vh;
}

.body2 .text {
  border-radius: 30px;
  background-color: #393f4d;
}

.body2 .main-naslov {
  color: #feda6a;
}

.card1 {
  background-color: #d6d6d6;
}

.card1 .text1 {
  color: #393f4d !important;
}
.card1 .naslov1 {
  color: #393f4d !important;
}

.card2 {
  background-color: #393f4d;
}
.card2 .text2 {
  color: #d6d6d6 !important;
}
.card2 .naslov2 {
  color: #feda6a;
}
.card3 {
  background-color: #feda6a;
}
.card3 .text3 {
  color: #393f4d !important;
}
.card3 .naslov3 {
  color: #393f4d;
}

.kartice {
  position: relative;
}
.owl-nav .owl-prev {
  position: absolute;
  top: calc(50% - 50px);
  left: -15px;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}

.owl-nav .owl-next {
  position: absolute;
  top: calc(50% - 50px);
  right: -15px;
  opacity: 1;
  font-size: 30px !important;
}

.owl-dots .owl-dot {
  display: none !important;
}

.izvori .card{
  height:auto;
}

@media only screen and (max-width: 767px) {
  .card {
    height: 26em;
    font-size: smaller;
  }
  .body2 h3 {
    font-size: 20px !important;
  }
  .card .h4 {
    font-size: medium;
  }
  .izvori .card .card-text{
    font-size:smaller;
  }
  .izvori .card .card-title{
    font-size:medium !important;
  }
  .navbar-nav {
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
  }
  .text22 {
    font-size: 13px !important;
  }
  .navbar-brand {
    font-size: 14px !important;
  }
  .offcanvas-title {
    font-size: 12px !important;
  }
}

/* Footer */
footer li a:hover {
  color: #feda6a !important;
}
