@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");

/* Global Settings */
* {
  font-family: "Montserrat", sent-serif;
  font-weight: 600;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
}

html,
body {
  background-color: #1d1e22;
  opacity: 0.9;
  max-width: 100%;
  overflow-x: hidden;
}

/* Navbar */

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
}

.kartica {
  color: #d6d6d6 !important;
}

.bg-light {
  background-color: transparent !important;
}

.navbar-nav a {
  font-size: 18px;
}

.navbar-nav a:hover {
  color: #feda6a !important;
}

.navbar-light .offcanvas-title {
  color: #d6d6d6;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar-light .navbar-brand {
  color: #d6d6d6;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: #d6d6d6;
}

.navbar-light .navbar-nav .nav-link {
  color: #d6d6d6;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #d6d6d6;
}

.w-100 {
  height: 100vh;
}

.navbar-toggler {
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
  background: #fff;
}

.body3 {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url("slike/mikolaj-DCzpr09cTXY-unsplash\ \(1\).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  color: #d6d6d6;
}

.ikona {
  background-color: white;
}

.navbar-toggler {
  border-color: white;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@media only screen and (max-width: 1024px) {
  .card-img {
    height: 60vh;
  }

  .slike2 {
    height: 80vh;
  }

  .card .h5 {
    font-size: medium;
  }
  .card .card-text {
    font-size: 12px;
  }
  .navbar-nav {
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
  }

  .text22 {
    font-size: 13px !important;
  }

  .navbar-brand {
    font-size: 14px !important;
  }

  .offcanvas-title {
    font-size: 12px !important;
  }
}

/* Footer */
footer li a:hover {
  color: #feda6a !important;
}

.navbar-toggler {
  border-color: white;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
